[config]
email =
password =

# 'PRACTICE' ou 'REAL'
balance_type = PRACTICE

# porcentagem de ganho/perca pra stopwin/stoploss
stopwin = 10
stoploss = 15

# porcentagem da banca como entrada
balance_percentage_buy = 10

# delay entre vc e o servidor, geralmente 2000-2500
delay = 2000

# multiplicador do gale
gale_multiplicator = 2
gales = 1

# 'BINARY' (menos delay nos gales) ou 'DIGITAL'
operation_priority = binary